/*Variables scss*/
/*Extend*/
.textoCentrado, .descripcion_producto, .titulo_principal, .titulo_producto {
  text-align: center;
  margin: 1rem 0;
}

.flexCentrado, .mapa, .categoria_productos, .productos {
  display: flex;
  align-items: center;
}

.estiloCarrito, .subtitulo_carrito, .titulo_carrito {
  margin-top: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
}

/*Estilos Header*/
.bi-person-add {
  color: rgb(0, 0, 0);
}

a:hover .bi-person-add {
  color: rgb(0, 0, 255);
  font-size: 2rem;
  transform: scale(1.1);
  transition: 0.2s;
}

.bi-cart3 {
  color: rgb(0, 0, 0);
}

a:hover .bi-cart3 {
  color: rgb(0, 0, 255);
  font-size: 2rem;
  transform: scale(1.1);
  transition: 0.2s;
}

.nav-link:hover {
  color: rgb(0, 0, 255);
}

.segundo_menu, .segundo_nav {
  position: relative;
  text-decoration: none;
  color: inherit;
  padding-bottom: 5px;
}
.segundo_menu::after, .segundo_nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: rgb(255, 0, 0);
  transition: width 0.3s ease;
}
.segundo_menu:hover::after, .segundo_nav:hover::after {
  width: 100%;
}

/*Estilos Main*/
.imagen_cabecera {
  height: 30rem;
}

.titulo_principal, .titulo_producto {
  font-size: 200%;
}

.categoria_productos h2 a {
  font-size: 18px;
  color: rgb(0, 0, 255);
}

.descripcion_producto {
  font-size: 120%;
}

.precio {
  color: rgb(0, 128, 0);
  font-weight: bold;
  text-align: center;
}

.precio span {
  text-decoration: line-through;
  color: rgb(255, 0, 0);
  font-weight: normal;
}

.ancho_imagen {
  width: 15rem;
}

.categoria_productos, .productos {
  flex-wrap: wrap;
  justify-content: space-between;
}

.nombre_producto {
  font-size: 1rem;
  text-align: center;
}

.titulo_carrito {
  font-size: 25px;
}

.subtitulo_carrito {
  font-size: 20px;
}

.carrito_vacio {
  width: 35rem;
  height: 22rem;
}

.ancho_imagen:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

/*Style cuenta, Contacto y carrito*/
.btn-ingresar, .btn-enviar, .btn-comprar {
  background-color: rgb(79, 78, 78);
}

.text-small:hover {
  font-size: 1rem;
  font-weight: bold;
}

.titulo {
  font-size: 1.5rem;
  color: rgb(79, 70, 70);
  font-weight: bold;
}

.home {
  text-decoration: none;
  color: rgb(0, 0, 255);
}

.accordion-button {
  background-color: rgb(240, 245, 250);
  font-weight: 100;
}

.accordion-button:not(.collapsed) {
  background-color: rgb(238, 241, 244);
  color: rgb(0, 0, 0);
  font-weight: 500;
}

/*Estilos Footer*/
.footer_container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.atencion_cliente {
  grid-area: 1/1/2/2;
}

.redes_sociales {
  grid-area: 2/1/3/2;
}

.medios_pago {
  grid-area: 3/1/4/2;
}

.derechos {
  grid-area: 4/1/5/2;
}

.mapa {
  grid-area: 1/2/5/3;
}

.redsocial {
  width: 2rem;
  height: 2rem;
}

.mediopago {
  width: 20rem;
  height: 2rem;
}

footer {
  background-color: rgb(0, 0, 0);
}

.titulos_footer {
  color: rgb(255, 255, 255);
  font-size: medium;
}

.parrafo_footer {
  color: rgb(255, 255, 255);
  font-size: small;
}

.mapa {
  flex-direction: column;
  width: 100%;
}

/*Media Queries*/
@media only screen and (min-width: 800px) {
  ul {
    flex-direction: row;
  }
}
@media only screen and (max-width: 800px) {
  .footer_container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .mapa iframe {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .mediopago {
    width: 100%;
    height: auto;
    max-width: 20rem;
  }
  .mapa {
    width: 100%;
    padding: 0 1rem;
  }
  .buscar {
    width: 16rem;
  }
}
/*Estilos Generales*/
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 155px;
}

/*# sourceMappingURL=style.css.map */
