/*Variables scss*/
$colorNegro: rgb(0, 0, 0);
$coloAzul: rgb(0, 0, 255);
$coloVerde: rgb(0, 128, 0);
$colorRojo: rgb(255, 0, 0);
$colorBlanco: rgb(255, 255, 255);
$colorGrisBg: rgb(79, 78, 78);
$colorClaro: rgb(79, 70, 70);

/*Extend*/
.textoCentrado{
    text-align: center;
    margin: 1rem 0;
}


/*Estilos Generales*/
*{
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 155px;
}

/*Estilos Header*/
.bi-person-add{
  color: $colorNegro; 
}
a:hover .bi-person-add{
  color: $coloAzul;
  font-size: 2rem;
  transform: scale(1.1);
  transition: 0.2s;
}
.bi-cart3{
  color: $colorNegro;
}
a:hover .bi-cart3{
  color: $coloAzul;
  font-size: 2rem;
  transform: scale(1.1);
  transition: 0.2s;
}
.nav-link:hover{
  color: $coloAzul;
}

/*Estilos Main*/
.imagen_cabecera{
  max-width: 100%;
  height: 30rem;
}
.titulo_principal, .titulo_producto{
   @extend .textoCentrado;
   font-size: 200%;
}
.categoria_productos h2 a{
  font-size: 18px;
  text-decoration: none;
  color: $coloAzul
}
.descripcion_producto{
  @extend .textoCentrado;
  font-size: 120%;
}
.precio{
  color: $coloVerde;
  font-weight: bold;
  text-align: center;
}
.precio span{
  text-decoration: line-through;
  color: $colorRojo;
  font-weight: normal;
}
.cat_accesorios, .cat_botas, .cat_camperas, .cat_relojes, .cat_pantalones, .producto, .mediopago{
    width: 15rem
}
.categoria_productos, .campera_productos, .zapatos_productos, .pantalones_productos, .relojes_productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nombre_producto{
  font-size: 1rem;
  text-align: center;
}
.titulo_carrito{
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
  color: $colorNegro;
}
.subtitulo_carrito{
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  color: $colorNegro;
}
.carrito_vacio{
  width: 35rem;
  height: 22rem;
}
.cat_accesorios:hover, .cat_botas:hover, .cat_camperas:hover, .cat_relojes:hover, .cat_pantalones:hover{
  transform: scale(1.03);
  transition: transform 0.3s ease;
}
.card-title, .text-warning{
  text-align: center;
}

/*Estilos Footer*/
.footer_container {
display: grid;
grid-template-columns: 1.5fr 1fr;
grid-template-rows: repeat(3, auto);
grid-column-gap: 1rem;
grid-row-gap: 1rem;
}
.atencion_cliente{ grid-area: 1 / 1 / 2 / 2; }
.redes_sociales{ grid-area: 2 / 1 / 3 / 2; }
.medios_pago{ grid-area: 3 / 1 / 4 / 2; }
.derechos{ grid-area: 4 / 1 / 5 / 2; }
.mapa{ grid-area: 1 / 2 / 5 / 3; }
.redsocial {
  width: 2rem;
  height: 2rem;
}
.mediopago{
  width: 20rem;
  height: 2rem
}
footer{
  background-color: $colorNegro;
}
.titulos_footer{
  color: $colorBlanco;
  font-size: medium;
}
.parrafo_footer{
  color: $colorBlanco;
  font-size: small;
}
.mapa{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 100%;
}

/*Media Queries*/
@media only screen and (min-width: 800px){
  ul{
    flex-direction: row;
  }
}
@media only screen and (max-width: 800px) {
  .footer_container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .mapa iframe {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .mediopago {
    width: 100%;
    height: auto;
    max-width: 20rem;
  }
  .mapa {
    width: 100%;
    padding: 0 1rem;
  }
  .buscar{
    width: 16rem;
  }
}  
  
/*Style cuenta, Contacto y carrito*/
.btn-ingresar, .btn-enviar, .btn-comprar{
 background-color: $colorGrisBg;
}
.text-small:hover{
  font-size: 1rem;
  font-weight: bold;
}
.titulo{
  font-size: 1.5rem;
  color: $colorClaro;
  font-weight: bold;
}
.home{
  text-decoration: none;
  color: $coloAzul;
}
.accordion-button {
  background-color: rgb(240, 245, 250);
  font-weight: 100;
}
.accordion-button:not(.collapsed) {
  background-color: rgb(238, 241, 244);
  color: $colorNegro;
  font-weight: 500;
}

