/*Estilos Header*/
.bi-person-add{
  color: $colorNegro; 
}
a:hover .bi-person-add{
  color: $colorAzul;
  font-size: 2rem;
  transform: scale(1.1);
  transition: 0.2s;
}
.bi-cart3{
  color: $colorNegro;
}
a:hover .bi-cart3{
  color: $colorAzul;
  font-size: 2rem;
  transform: scale(1.1);
  transition: 0.2s;
}
.primer_menu:hover{
  color: $colorAzul;
}
.segundo_menu {
  position: relative;
  text-decoration: none;
  color: $colorGrisBg;
  font-weight: bold;
  padding-bottom: 1px;
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.05px;
    width: 0%;
    background-color: $colorAzul;
    transition: width 0.5s ease;
  }

  &:hover::after {
    width: 100%;
  }
}