/*Estilos Header*/
.bi-person-add{
  color: $colorNegro; 
}
a:hover .bi-person-add{
  color: $colorAzul;
  font-size: 2rem;
  transform: scale(1.1);
  transition: 0.2s;
}
.bi-cart3{
  color: $colorNegro;
}
a:hover .bi-cart3{
  color: $colorAzul;
  font-size: 2rem;
  transform: scale(1.1);
  transition: 0.2s;
}
.nav-link:hover{
  color: $colorAzul;
}
.segundo_menu {
  position: relative;
  text-decoration: none;
  color: $colorNegro;
  padding-bottom: 5px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: $colorNegro;
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}