/*Extend*/
.textoCentrado{
    text-align: center;
    margin: 1rem 0;
}
.flexCentrado{
  display: flex;
  align-items: center;
}
.estiloCarrito{
  margin-top: 20px;
  text-align: center;
  color: $colorNegro;
}