/*Variables scss*/
$colorNegro: rgb(0, 0, 0);
$colorAzul: rgb(0, 0, 255);
$colorVerde: rgb(0, 128, 0);
$colorRojo: rgb(255, 0, 0);
$colorBlanco: rgb(255, 255, 255);
$colorGrisBg: rgb(79, 78, 78);
$colorClaro: rgb(79, 70, 70);